@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

input:focus,
textarea:focus {
    outline: none;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(6, 127, 123);
    width: 400px;
    height: 50px;
    font-size: 15px;
}

input[type="submit"] {
    padding: 10px 30px;
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    transition: .4s;
    background: rgb(6, 127, 123);
    color: white;
    border-radius: 40px;
    border: none;
}

input[type="submit"]:hover {
    border-radius: 10px;
    letter-spacing: 1px;
}

textarea {
    width: 400px;
    height: 200px;
    border: 2px solid rgb(6, 127, 123);
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(5);
    gap: 20px;
    margin: auto;
    justify-content: center;
}

.personal,
.school {
    display: grid;
    gap: 20px;
}

.main {
    width: 80%;
    height: 105%;
    position: absolute;
    top: 0;
    left: 10%;
    display: grid;
    grid-template-columns: 35% 64%;
}

.label {
    font-size: 25px;
    text-align: center;
}

select {
    padding: 0 15px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(6, 127, 123);
}


.background {
    width: 100%;
    height: 100%;
    background: rgb(6, 127, 123);
    overflow: hidden;
}

.background h1 {
    writing-mode: vertical-lr;
    font-size: 400px;
    font-family: "Megrim", cursive;
    position: relative;
    left: -40%;
    top: 15%;
    animation: kwt 3s both infinite;
}

h1 {
    text-align: center;
}

.uczestnicy {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    margin-left: 30px;
}

.uczestnicy input[type="text"] {
    width: 200px;
}

.uczestnicy input[type="email"] {
    width: 300px;
}